* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
  background: #013961ef;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope";
  color: $white;
  margin: 0;
}

h1 {
  font-weight: bold;
  font-size: 55px;
  letter-spacing: -1.78571px;
  @include tablet {
    font-size: 180px;
    letter-spacing: -2.5px;
  }
}

h2 {
  font-weight: 400;
  font-size: 18px;
  @include tablet {
    font-size: 48px;
    letter-spacing: -2.14286px;
  }
}

h3 {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.78571px;
}

h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.8px;

  @include tablet {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
  }
}