$dark-navy: #495567;
$white: #ffff;
$light-grey: #eef0f4;
$light-yellow: #ffcb3d;
$loader-color: #ABA1FF;
$loader-color-dark: #675FB2;
$loader-ray-color: #FFD6BB;
$loader-spark-color: #70B268;
$loader-back-color: #2f2e4e;